body {
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em; /* Increase base font size */
}

#semicircleCanvas {
    display: block;
    margin: 0 auto;
    width: 1500px; /* Increase width */
    height: 600px; /* Increase height */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 30px;
}

button {
    padding: 15px 30px; /* Bigger buttons */
    font-size: 28px; /* Larger font */
    font-family: sans-serif; /* Changed font to sans-serif */
    cursor: pointer;
    margin: 5px;
    background-color: rgba(195,153,97,0.9); 
    color: black;
    border: 3px solid black; 
    border-radius: 10px; 
}

button:hover {
    background-color: rgba(195,153,97,1); 
}